header {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 20px;
}

.cityWeatherDisplay {
    display: flex;
    justify-content: center;
}

.subtitle {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.fiveDayContainers {
    display: flex;
    width: auto;
    justify-content: space-around;
}

.weatherDiv {
    border: solid 2px black;
}

